    {% extends "admin-html/blank.html" %}

  {%  load staticfiles %}


{% block content %}



                        <div class="row" style="margin-top:20px;">
                            <div class="col-lg-6 col-md-6 col-sm-12"  >
                                <!-- col-lg-4 start here -->
                                <div class="panel panel-default plain">
                                    <!-- Start .panel -->
                                    <div class="panel-heading" >
                                        <h4 class="panel-title bb">프로필</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row profile">
                                            <!-- Start .row -->
                                            <div class="col-md-4">
                                                <div class="profile-avatar">
                                                    <img src="{% static "img/avatars/dh_profile.jpg" %}" alt="Avatar" style="max-width:100%">
                                                    <p class="mt10">
                                                        Online
                                                        <span class="device">
                                        <i class="fa fa-mobile s16"></i>
                                    </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="profile-name">
                                                    <h3>송동환</h3>
                                                    <p class="job-title mb0"><i class="fa fa-building"></i>blue1028</p>
                                                    <p class="balance">
                                                        Balance: <span>146$</span>
                                                    </p>
                                                    <a href="#" class="btn btn-primary btn-large mr10"> <i class="fa fa-envelope"></i> Send email</a>
                                                    <a href="#" class="btn btn-default btn-alt btn-large"> Send PM</a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="contact-info bt">
                                                    <div class="row">
                                                        <!-- Start .row -->
                                                        <div class="col-md-4">
                                                            <dl class="mt20">
                                                                <dt class="text-muted">닉네임</dt>
                                                                <dd>{{ userlist.nickname }}</dd>
{#                                                                <dt class="text-muted">Mobile</dt>#}
{#                                                                <dd>(368)-234-112</dd>#}
                                                            </dl>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <dl class="mt20">
                                                                <dt class="text-muted">Email</dt>
                                                                <dd>이메일</dd>
{#                                                                <dt class="text-muted">Skype</dt>#}
{#                                                                <dd>jonatahn_smith</dd>#}
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <!-- End .row -->
                                                </div>
                                            </div>
{#                                            <div class="col-md-12">#}
{#                                                <div class="profile-info bt">#}
{#                                                    <h5 class="text-muted">Profile info</h5>#}
{#                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minus consequuntur corporis optio accusantium perspiciatis veritatis temporibus nostrum, saepe omnis aperiam illum odit, quos, cum eveniet#}
{#                                                        possimus illo. Saepe sunt porro culpa repellat dolorem aperiam, quae nihil, maxime ducimus officiis voluptate. Libero obcaecati laboriosam reprehenderit adipisci harum ad, veniam explicabo.</p>#}
{#                                                </div>#}
{#                                                <div class="profile-tags">#}
{#                                                    <h5 class="text-muted">Tags</h5>#}
{#                                                    <form role="form" class="form-horizontal mb15">#}
{#                                                        <input type="text" value="CEO, Worker" data-role="tagsinput">#}
{#                                                    </form>#}
{#                                                </div>#}
{#                                                <div class="social bt">#}
{#                                                    <h5 class="text-muted">Social</h5>#}
{#                                                    <dl class="dl-horizontal mb0">#}
{#                                                        <dt>#}
{#                                                            <span class="text-muted">#}
{#                                            <i class="fa fa-facebook-square"></i>#}
{#                                            Facebook:#}
{#                                        </span>#}
{#                                                        </dt>#}
{#                                                        <dd><a href="#">facebook.com/1231</a>#}
{#                                                        </dd>#}
{#                                                        <dt>#}
{#                                                            <span class="text-muted">#}
{#                                            <i class="fa fa-twitter"></i>#}
{#                                            Twitter:#}
{#                                        </span>#}
{#                                                        </dt>#}
{#                                                        <dd><a href="#">twitter.com/profile/3234.html</a>#}
{#                                                        </dd>#}
{#                                                        <dt>#}
{#                                                            <span class="text-muted">#}
{#                                            <i class="fa fa-google-plus"></i>#}
{#                                            Google+:#}
{#                                        </span>#}
{#                                                        </dt>#}
{#                                                        <dd><a href="#">plus.google.com/jonathansmith</a>#}
{#                                                        </dd>#}
{#                                                        <dt>#}
{#                                                            <span class="text-muted">#}
{#                                            <i class="fa fa-linkedin"></i>#}
{#                                            LinkedIn:#}
{#                                        </span>#}
{#                                                        </dt>#}
{#                                                        <dd><a href="#">linkd.in/123123</a>#}
{#                                                        </dd>#}
{#                                                        <dt>#}
{#                                                            <span class="text-muted">#}
{#                                            <i class="fa fa-pinterest"></i>#}
{#                                            Pinterest:#}
{#                                        </span>#}
{#                                                        </dt>#}
{#                                                        <dd><a href="#">pinterst.com/profile/3234.html</a>#}
{#                                                        </dd>#}
{#                                                    </dl>#}
{#                                                </div>#}
{#                                            </div>#}
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                </div>
                            </div>
                            <!-- col-lg-4 end here -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- col-lg-4 start here -->
                                <div class="tabs mb20">
                                    <ul id="profileTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#overview" data-toggle="tab">Overview</a>
                                        </li>
                                        <li>
                                            <a href="#edit-profile" data-toggle="tab">Edit</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in" id="overview">
                                            <h5>Activity feed</h5>
                                            <ul class="timeline timeline-icons">
                                                <li>
                                                    <p>
                                                        <a href="#">Jonathan Smith</a> attached new <a href="#">file</a>
                                                        <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                                                        <span class="timeline-date">Dec 10, 22:00</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="#">Jonathan Smith</a> make <a href="#">3 comments</a>
                                                        <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                                        <span class="timeline-date">Dec 8, 13:35</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="#">Jonathan Smith</a> deposit 300$
                                                        <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                                                        <span class="timeline-date">Dec 6, 10:17</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="#">Jonathan Smith</a> purchase <a href="#">3 items</a>
                                                        <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                                                        <span class="timeline-date">Dec 5, 04:36</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="#">1 support </a> request is received from <a href="#">Jonathan Smith</a>
                                                        <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                                                        <span class="timeline-date">Dec 4, 18:40</span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i> Load more </a>
                                        </div>
                                        <div class="tab-pane fade pb0" id="edit-profile">
{#                                            <form class="form-horizontal group-border stripped" method="POST" action="{% url "edit_profile" %}" role="form">#}
                                            <form class="form-horizontal group-border stripped" method="POST"  role="form">
                                                {% csrf_token %}
{#                                                <div class="form-group">#}
{#                                                    <label class="col-lg-3 control-label" for="">First Name</label>#}
{#                                                    <div class="col-lg-9">#}
{#                                                        <input type="text" class="form-control" id="firstname" name="firstname">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <!-- End .form-group  -->#}
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label" for="">이름</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="name" name="name">
                                                    </div>
                                                </div>
                                                <!-- End .form-group  -->
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label" for="">닉네임</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="nickname" name="nickname">
                                                    </div>
                                                </div>
{#                                                <div class="form-group">#}
{#                                                    <label class="col-lg-3 control-label" for="">닉네임 사용</label>#}
{#                                                    <div class="col-lg-9">#}
{#                                                        <div class="checkbox-custom">#}
{#                                                            <input type="checkbox" id="public-checkbox">#}
{#                                                            <label for="public-checkbox"></label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
                                                <!-- End .form-group  -->
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label" for="">이메일</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="email" name="email">
                                                    </div>
                                                </div>
                                                <!-- End .form-group  -->
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label" for="">프로필 사진</label>
{#                                                    <div class="col-lg-9">#}
{#                                                        <textarea name="info" id="info" rows="10" class="form-control"></textarea>#}
{#                                                    </div>#}
                                                    <div class="col-lg-9">
{#                                                    <input type="file" class="filestyle" name="photo"/>#}
                                                    <span class="buttonWrap"><input type="file" name="photo"></span>
                                                    </div>
                                                </div>


                                                <!-- End .form-group  -->
{#                                                <div class="form-group form-group-vertical">#}
{#                                                    <label class="col-lg-3 control-label" for="">비밀번호 변경</label>#}
{#                                                    <div class="col-lg-9">#}
{#                                                        <input type="password" class="form-control" id="password" name="password">#}
{#                                                        <input type="password" class="form-control" id="password1" name="password1" placeholder="다시 한번 입력하세요">#}
{#                                                    </div>#}
{#                                                </div>#}
                                                <!-- End .form-group  -->
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-lg-offset-3">
                                                        <button class="btn btn-primary" id="submit3" type="subimt">변경하기</button>
                                                    </div>
                                                </div>
                                                <!-- End .form-group  -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .tabs -->
                            </div>
                        </div>
                        <!-- End .row -->

    {%  endblock content %}

