<!DOCTYPE html>
{%  load staticfiles %}

<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function(){


            alert("handelre");
});
    </script>
</head>
<body>
    <div class = "container">
        <div class="row">
            <div class="col-sm-12">
                <h1>hello django</h1>

                <table class = "table table-hover table-bordered ">
                <tbody>
                {% for post in post_list %}
                <tr>
                <td>
                    <a href = "{% url "blog:post_detail" post.pk %}">
                        {{ post.content }}
                    </a>
                </td>
                </tr>
                {% endfor %}

                </tbody>
                </table>


                <a href="{% url "blog:post_create" %}" class = "btn btn-info">새 글</a>

            </div>
        </div>

    </div>



</body>
</html>