  {% extends "admin-html/blank.html" %}
{#  <script src="../../../Antmain/static/js/ajax_csrf.js" />#}




{%  load staticfiles %}



{% block content %}
<h3> Search</h3>

<form onsubmit="return false;">
    {% csrf_token %}

    Blog Title:<br />
    <input type="text" id="blogTitle"/>
    <button class="updatebutton" onclick="CreateBlog()">Submit</button>
    </form>

    <div id="output">
    <div class="ajaxProgress">
        <h3>Please Wait...</h3>
    </div>

    </div>


{#    <input type ="text" id="search3" name="search3" />#}
{##}
{#    <ul id="search-results">#}
{##}
{#    </ul>#}



{%  endblock content %}



